* {
    font-family: 'Brush Script MT', sans-serif;
}

h1.index {
    font-size: 48px;
    text-align: center;
    color: gold;
}
h1 {
    font-size: 48px;
    text-align: center;
}

a.link:link,
a.link:visited {
    text-align: center;
    color: black;
}

a.link:hover {
    opacity: .3;
    transition: .5s ease;
    height: 150%;
    width:auto ;
}


.wrap {
    overflow: hidden;
    position: relative;
}

.bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.content {
    position: relative;
}

.recipes img {
    height: auto;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipes img:hover {
    opacity: .3;
    transition: .5s ease;
}